@model mvc_gog.Models.User

@{
    ViewData["Title"] = "Create";
}


<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>ADD User</h1>
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="text-white" style="background-color: transparent; border: 1px solid white" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="text-white" style="background-color: transparent; border: 1px solid white" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="text-white" style="background-color: transparent; border: 1px solid white" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="text-white" style="background-color: transparent; border: 1px solid white" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BirthDate" class="control-label"></label>
                            <input asp-for="BirthDate" class="form-control text-white" style="background-color: transparent; border: 1px solid white" />
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                           <div class="form-button mt-3">
                            <input type="submit" value="Create" class="btn btn-success" /> |
                            <a asp-action="Index"> <input type="button" class="btn btn-primary" value="Back to List" /></a>
                        </div>
                                    </form>
                                </div>
                            </div>



        </div>
            </div>
        </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
