@model mvc_gog.Models.LignePanier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LignePanier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LignePanierID" />
            <div class="form-group">
                <label asp-for="PanierID" class="control-label"></label>
                <select asp-for="PanierID" class="form-control" asp-items="ViewBag.PanierID"></select>
                <span asp-validation-for="PanierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProduitID" class="control-label"></label>
                <select asp-for="ProduitID" class="form-control" asp-items="ViewBag.ProduitID"></select>
                <span asp-validation-for="ProduitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qte" class="control-label"></label>
                <input asp-for="Qte" class="form-control" />
                <span asp-validation-for="Qte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
