@model mvc_gog.Models.Produit

@{
    ViewData["Title"] = "Edit";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>EDIT GAME</h1>
               

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProduitID" />
            <div class="form-group">
                <label asp-for="imageurl" class="control-label"></label>
                            <input asp-for="imageurl" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="imageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodname" class="control-label"></label>
                            <input asp-for="Prodname" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="Prodname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dateofcreation" class="control-label"></label>
                            <input asp-for="Dateofcreation" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="Dateofcreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datedeproduction" class="control-label"></label>
                            <input asp-for="Datedeproduction" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="Datedeproduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desc" class="control-label"></label>
                            <input asp-for="desc" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                            <input asp-for="Autor" class="form-control text-light" style="background-color: transparent; border: 1px solid white" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
           



                        <div class="form-button mt-3">

                            <div>
                                <a asp-route-id="@Model.ProduitID"> <input type="submit" value="Save" class="btn btn-success" /></a> |
                                <a asp-action="Delete" asp-route-id="@Model.ProduitID"> <input type="button" class="btn btn-danger" value="Delete"></a> |
                                <a asp-action="Index"> <input type="button" class="btn btn-dark" value="Back to List" /></a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
